/**
* Block style
*/
.block {
  &.block-2 {
    .block-header {
      .block-title {
        margin-bottom: 10px;
      }
    }
  }
  .block-header {
    margin-bottom: 60px;
    &.title-center {
      .block-title,
      .block-icon,
      .block-sub-title{
        text-align: center;
      }
    }
    .block-title {
      margin: 0; padding: 0;
      margin-bottom: 40px;
      font-size: 54px;
    }
    .block-sub-title {

    }
    .block-icon {
      position: relative;
      margin: 0; padding: 0;
      &:before {
        content: "";
        width: 550px;
        border-top: 2px solid @main_color;
        position: absolute;
        top: 50%; left: 0; right: 0; bottom: 0;
        margin: 0 auto;
        z-index: 1;
      }
      span {
        padding: 0 15px;
        position: relative;
        z-index: 3;
        font-weight: lighter;
        i {
          font-size: 30px;
          padding: 15px;
          border: 2px solid @main_color;
          color: @main_color;
          border-radius: 100%;
          background-color: #fff;
        }
      }
      &.white-blue {
        &:before {
          border-top-color: #fff;
        }
        span {
          background-color: #3dbff3;
          color: #3dbff3;
          i {
            font-size: 30px;
            padding: 15px;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 100%;
            background-color: #3dbff3;
          }
        }
      }
      &.white-dark {
        color: #fff;
        font-size: 43px;
        &:before {
          border-top-color: #fff;
        }
        span {
          background-color: #3c3c3c;
          i {
            font-size: 30px;
            padding: 15px;
            border: 2px solid #fff;
            color: #fff;
            border-radius: 100%;
            background-color: #3c3c3c;
          }
        }
      }
    }
  }
  .content, .footer {
    clear: both;
  }
}

.loading-animate {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.3);
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 32px;
    height: 32px;
    background: @main_color;
    border-radius: 2px;
    animation: loading-animate 1s ease infinite;
    -webkit-animation: loading-animate 1s ease infinite;
  }
}
@keyframes loading-animate{
  from{ transform: rotateY(0deg); }
  to{ transform: rotateY(360deg); }
}
@-webkit-keyframes loading-animate{
  from{ -webkit-transform: rotateY(0deg); }
  to{ -webkit-transform: rotateY(360deg); }
}