.btn {
  background-color: transparent;
  &.btn-default {
    border-color: #FFF;
    color: #FFF;
    &:hover {
      background-color: #3c3c3c;
    }
  }
  &.btn-black {
    background-color: #3c3c3c;
    &:hover {
      background-color: transparent;
      color: #3c3c3c;
    }
  }
  &.btn-warning {
    color: #eea236;
  }
  &.btn-success {
    color: #4cae4c
  }
}

.btn-slg {
  font-size: 36px;
  padding: 15px 65px;
  font-weight: bold;
}

.btn.btn-white-black {
  background-color: #FFF;
  border-color: #000;
  color: #3c3c3c;
}
.btn.btn-info {
  border-color: #3dbff3;
  color: #3dbff3;
  background-color: transparent;
}