body {
  font-family: @roboto_font;
  font-size: 17px;
}
p {
  font-weight: lighter;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: @header_color;
  font-weight: lighter;
}
a {
  color: @main_color;
  font-weight: normal;
}

.help-block.error {
  color: #a94442;
}

.section, .block{
  position: relative;
}
.bg-dark {
  background-color: #3c3c3c;
}
.bg-blue {
  background-color: @main_color;
}
/**
* Search Section
*/
#section-search {
  padding: 55px 0px;
  background: url("../images/strapline.jpg") no-repeat scroll center top / cover  @main_color;
}
.search-memorial-form {
  .form-control,
  .input-group-btn {
    height: 87px;
  }
  .form-control {
    border: none;
    box-shadow: none;
  }
  .input-group-btn {
    .btn {
      background-color: #FFF;
      color: #6d6d6d;
      height: 87px;
      position: relative;
      &:before {
        height: 50%;
        content: '';
        position: absolute;
        top: 25%;
        left: 0;
        border-left: 1px solid #787878;
      }
      i {
        font-size: 33px;
      }
    }
  }
}
/**
* Memorial Section
*/
#section-memorials {
  padding: 100px 0px 150px;
}
.memorial-teaser {
  position: relative;
  background-color: #f0f0f0;
  text-align: center;
  img {
    width: 100%;
  }
  .title {
    font-weight: normal;
    position: relative;
    margin: 0 0 25px;
    padding: 20px 0;
    &:after {
      content: '';
      width: 105px;
      border-bottom: 2px solid @text_color;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }
  .btn {
    margin-bottom: 30px;
    &.btn-default {
      color: #3c3c3c;
      background-color: transparent;
      border: 2px solid #3c3c3c;
    }
  }
  .date-group {
    padding-bottom: 20px;
  }
  &:hover {
    background-color: @main_color;
    .title {
      color: #fff;
      &:after {
        border-bottom-color: #fff;
      }
    }
    .btn {
      &.btn-default {
        border-color: #fff;
        color: #fff;
      }
    }
    .date-group {
      li {
        color: #fff;
        &:before {
          border-color: #fff;
        }
      }
    }
  }
}
.memorial-date {
  margin: 0; padding: 0;
  li {
    color: @text_color;
    padding: 0; margin: 0;
    &:before {
      content: "";
      padding: 5px 10px;
      border: 2px solid @text_color;
      border-radius: 100%;
      margin-right: 5px;
    }
    &.birthday {
      &:before {
        content: "B";
      }
    }
    &.death:before {
      content: "D";
    }
  }
}
//sign-up-block
.sign-up-block {
  color: #FFF;
  .sign-up-header {
    overflow: hidden;
    clear: both;
    margin-bottom: 45px;
    h3 {
      color: #FFF;
      float: left;
      margin: 0;
      padding: 0 20px 0 0;
      border-right: 1px solid #FFF;
      font-size: 67px;
    }
    .login {
      float: left;
      padding-left: 20px;
    }
  }
  .intro {
    font-size: 21px;
    margin-bottom: 60px;
  }
  .sign-up-form {
    .input-group {
      margin-bottom: 20px;
      .input-group-addon {
        background-color: transparent;
        color: #fff;
        height: 70px;
        min-width: 55px;
        i {
          font-size: 21px;
        }
      }
      .form-control {
        background-color: transparent;
        color: #fff;
        height: 70px;
      }
    }
    .btn-submit {
      background-color: transparent;
      color: #fff;
      height: 70px;
      font-size: 29px;
      font-weight: bold;
    }
  }
}
/**
* users section
*/
#section-users {
  padding: 90px 0 140px;
}
.new-memorials {
  .block-header {
    .block-title {
      color: #fff;
      font-size: 50px;
      margin-bottom: 20px;
    }
    margin-bottom: 20px;
  }
}

.form-create-page {
  display: block;
  width: 100%;
  h2 {
    padding: 40px 0 50px;
    margin: 0 0 25px 0;
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 43px;
    i {
      font-size: 120px;
      margin-bottom: 55px;
    }
  }
  .btn-submit {
    padding: 20px;
    font-size: 29px;
    font-weight: bold;
    height: auto;
    text-transform: uppercase;
    color: @main_color;
  }
}

/**
* introduction section
*/

.block-introduction {
  padding: 140px 0 225px;
  color: #FFF;
  background: url('../images/hand.png') no-repeat bottom right transparent;
  .block-header {
    .block-title {
      font-size: 67px;
      color: #FFF;
    }
  }
  .block-content {
    font-size: 21px;
    line-height: 35px;
    p {
      font-weight: lighter;
    }
  }
}

/**
* Footer Section
*/

#section-footer {
  height: 135px;
  line-height: 135px;
  overflow: hidden;
}

//=============================================================
//====================MEMORIAL PAGE============================
//=============================================================

#section-memorial {

}
.memorial-wrap {
  background: none no-repeat scroll center top / cover  transparent;
  position: relative;
  height: 330px;
  margin-bottom: 100px;
  &:before {
    background: rgba(0,0,0,0.3);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .memorial-header {
    position: relative;
    .avatar {
      position: relative;
      z-index: 10;
      a {
        display: block;
        margin-top: 40px;
        width: 282px;
        height: 307px;
        img {
          border-radius: 5px;
          width: 282px;
          height: 307px;
        }
      }
    }
    .info {
      padding-top: 40px;
      color: #FFF;
      .name {
        padding: 0; margin: 0 0 20px;
        font-size: 40px;
        font-weight: bold;
        color: #FFF;
      }
      .memorial-date {
        margin-bottom: 20px;
        li {
          color: #FFF;
          &:before {
            border-color: #FFF!important;
          }
        }
      }
      .maried {
        color: #FFF;
        font-weight: normal;
        a {
          color: @main_color;
        }
      }
      .buried-address {
        color: #acb7bb;
        margin-bottom: 10px;
      }
      .btn {
        color: #acb7bb;
        border-color: #acb7bb;
        text-transform: uppercase;
      }
    }

  }
  .memorial-navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    height: 80px;
    overflow: hidden;
    .menu {
      list-style: none;
      margin: 0; padding: 0;
      text-align: center;
      li {
        display: inline-block;
        a {
          color: #acb7bb;
          display: block;
          font-size: 14px;
          height: 80px;
          text-decoration: none;
          padding: 20px;
          border-right: 1px solid #252525;
          i {
            display: block;
            font-size: 24px;
          }
          span {
            display: block;
          }
        }
        &.active, &:hover {
          a {
            color: @main_color;
          }
        }
        &:last-child {
          a {
            border-right: none;
          }
        }
      }
    }
  }
}
//Memorial Relationship
.relationship {
  .relationship-list {
    background-color: #FFF;
    margin-top: 77px;
    padding: 15px;
    position: relative;
    z-index: 10;
    .title {
      color: @main_color;
      position: relative;
      padding: 0 0 20px; margin: 0 0 20px;
      font-weight: normal;
      &:after {
        content: "";
        width: 100px;
        border-bottom: 2px solid #cacaca;
        bottom: 0;
        left: 0; right: 0;
        margin: 0px auto;
        position: absolute;
      }
    }
    .users-list {
      list-style: none;
      margin: 0; padding: 0;
      li {
        display: inline-block;
        padding: 2px;
        margin-bottom: 10px;
        a {
          display: block;
          height: 70px; width: 70px;
          border-radius: 100%;
          overflow: hidden;
          img {
            height: 70px; width: 70px;
          }
        }
        &.view-more {
          a {
            height: 70px; width: 70px;
            text-align: center;
            line-height: 70px;
            font-size: 24px;
            font-weight: bold;
            background-color: @main_color;
            border-radius: 100%;
            display: block;
            color: #FFF;
          }
        }
      }
    }
  }
}

/**
* Memorial Content
*/
#section-main-content {
  clear: both;
  padding: 0 0 120px;
}
.biography-teaser {
  h2 {
    margin: 0 0 15px; padding: 0;
    font-size: 54px;
  }
  ul.info {
    margin: 0 0 20px; padding: 0;
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      border: 1px solid #eff0f1;
      border-right: none;
      border-radius: 5px;
      padding: 6px 10px;
      &:after {
        background: url("../images/arrow-right.png") no-repeat scroll left center transparent;
        content: "";
        height: 38px;
        position: absolute;
        right: -17px;
        top: -1px;
        width: 22px;
      }
      &.date {
        background-color: #EDEEEF;
        z-index: 10;
        &:after {
          background-image: url("../images/arrow-right0.png");
        }
      }
      &.marie {
        z-index: 5;
        margin-left: -20px;
        padding-left: 40px;
      }
    }
  }
}

.guestbook-block {
  background: #e5f6fc;
  padding: 25px;
  .block-title {
    color: @main_color;
    position: relative;
    padding: 0 0 20px; margin: 0 0 20px;
    font-weight: normal;
    position: relative;
    z-index: 10;
    font-size: 54px;
    &:after {
      content: "";
      width: 100px;
      border-bottom: 2px solid @main_color;
      bottom: 0;
      left: 0;
      position: absolute;
    }
    .label {
      float: right;
      font-size: 14px;
      padding: 10px;
      text-transform: uppercase;
      margin-top: 15px;
    }
  }
  .content {

  }
  & > .btn {
    width: 100%;
    background-color: @main_color;
    color: #FFF;
    text-transform: uppercase;
    font-size: 29px;
    border-color: @main_color;
    font-weight: bold;
  }
}
.guestbooks-list {
  overflow: hidden;
  .block-title {
    margin-bottom: 30px;
  }
  .label {
    float: right;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
  }
  .guestbook-teaser-wrap {
    &:nth-child(2n+1) {
      clear: left;
    }
  }
  .guestbook-teaser {
    padding: 20px;
    min-height: 240px;
  }
}
.guestbook-teaser {
  margin-bottom: 30px;
  background: #e5f6fc;
  .header {
    overflow: hidden;
    margin-bottom: 15px;
    img {
      float: left;
      width: 85px;
      height: 85px;
      border: 5px solid #FFF;
      border-radius: 100%;
    }
    .title {
      float: left;
      margin: 15px 0 10px 20px;
      h3 {
        margin: 0 0 10px; padding: 0;
        font-size: 21px;
        color: @main_color;
        text-transform: uppercase; font-weight: bold;
      }
      .date {
        color: #7f8c91;
      }
    }
  }
  .info {
    clear: both;
    color: #7f8c91;
    font-size: 14px;
    h3 {
      font-weight: normal;
      color: #7f8c91;
      font-size: 20px;
    }
    p {
      font-weight: normal;
    }
    .btn {
      margin-top: 15px;
    }
  }
}

/**
* Gallery Section
*/

#section-gallery {
  padding: 100px 0;
}

.gallery-list {
  .gallery-items {
    padding: 0;
    margin: 0;
    .item {
      float: left;
      margin: 0 0 15px 2%;
      width: 31.33%;
      position: relative;
      &.large {
        width: 64.66%;
        img {
          height: 400px;
        }
        .name {
          height: 80px;
          line-height: 80px;
          font-size: 28px;
        }
      }
      img {
        width: 100%;
        border-radius: 5px;
        height: 191px;
      }
      .name {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0; margin: 0;
        width: 100%;
        height: 40px;
        line-height: 40px;
        background: rgba(0,0,0,0.3);
        font-size: 16px;
        text-align: center;
        font-weight: normal;
        color: #FFF;
        a {
          text-decoration: none;
          color: #FFF;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

}

/**
* Timeline Section
*/
#section-timeline {
  padding: 100px 0;
}
.timeline-list {
  list-style: none;
  margin: 0; padding: 0;
}
.timeline-items {
  .timeline-item {
    margin-bottom: 40px;
    &:last-child {
      background: none!important;
    }
    &:nth-child(4n) {
      background: none;
    }
    &:nth-child(4n+1) {
      clear: left;
    }
  }
}
.timeline-item {
  background: url("../images/arrow.png") no-repeat scroll right 50px transparent;
  margin-bottom: 20px;

  .date {
    font-size: 55px;
    color: #FFF;
    padding: 0; margin: 0;
    height: 193px;
    line-height: 193px;
    width: 193px;
    border: 6px solid #a6b0b4;
    border-radius: 100%;
    font-weight: bold;
    text-align: center;
  }
  .title {
    font-size: 22px;
    color: #FFF;
    margin-bottom: 30px;
  }
  .btn {
    margin-left: 50px;
    text-transform: uppercase;
  }

  &:hover {
    cursor: pointer;
    .date {
      background-color: @main_color;
      border-color: #2e2d2d;
    }
    .btn {
      background-color: #FFF;
      color: #000;
    }
  }
}

/**
*=============================================================================
* Photo Albums
*=============================================================================
*/
.album-list {
  margin: 20px;
  & > div { padding: 40px; }
  .album-item {
    background-color: #FFF;
    padding: 10px;
    box-shadow: 0 0 5px #d5d5d5;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 10px #d5d5d5;
      transform: rotate(-5deg);
      z-index: -1;
    }
    img {
      width: 100%;
    }
    .info {
      height: 90px;
      line-height: 90px;
      margin: 10px 0; padding: 0;
      background-color: #eee;
      text-indent: 120px;
      background: url('../images/icons/camera.png') no-repeat 10px center transparent scroll;
      a {
        display: block;
        color: @main_color;
        position: relative;
        &:hover {
          text-decoration: none;
        }
      }
      .fa {
        display: block;
        font-size: 45px;
        font-weight: bold;
        height: 100%;
        line-height: 90px;
        margin-right: 20px;
        position: absolute;top: 0; right: 0;
      }
    }
  }
}

.gallery-item {
  background-color: #FFF;
  border-radius: 5px;
  img {
    width: 100%;
  }
  .info {
    margin: 0; padding: 0;
    height: 100px;
    line-height: 100px;
    font-size: 37px;
    text-align: center;
    a {
      text-decoration: none;
    }
  }
}

/*
* Photo Items
*/
.photo-albums {
  .footer {
    text-align: center;
    padding-top: 60px;
    .btn {
      padding: 10px 140px;
      background-color: @main_color;
      text-transform: uppercase;
      font-size: 29px;
      color: #FFF;
      &:hover {
        color: @main_color;
        background-color: #FFF;
      }
    }
  }
}
.photo-list {
  padding: 15px 0;
}
.photo-item {
  margin-bottom: 15px;
  .photo-item-inner {
    margin: 10px 0;
    .header {
      background-color: #FFF;
      box-shadow: 0 0 5px #DEDEDE;
      padding: 10px;
      border-radius: 10px;
      img {
        width: 100%;
      }
      .info {
        list-style: none;
        margin: 0; padding: 0;
        position: relative;
        li {
          display: inline-block;
          height: 60px;
          line-height: 60px;
          text-decoration: none;
          color: @main_color;
          &.name {
              font-size: 31px;
          }
          &.comment-count {
            text-align: right;
            float: right;
            i {
              color: #acb5b8;
              font-size: 21px;
            }
          }
        }
      }
    }
    .author {
      list-style: none;
      margin: 0; padding: 0;
      li {
        display: inline-block;
        width: 49%;
        height: 60px;
        line-height: 60px;
        color: #7f8c91;
        &:first-child {
          i {
            background-color: #ebebeb;
            border-radius: 100%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
          }
        }
        &:last-child {
          text-align: right;
        }
      }
    }
  }
}

/**
* Photo modal
*
*/
.photo-modal {
  background-color: rgba(0, 0, 0, 0.3);
  .modal-backdrop {
    background-color: transparent;
  }
  .modal-dialog {
    margin-top: 50px;
  }
  .modal-header {
    position: relative;
    padding: 10px;
    border-bottom: none;
    text-align: center;
    img {
    }
    .close {
      position: absolute;
      top: -25px; right: -25px;
      display: block;
      height: 50px;width: 50px;
      background-color: #e44848;
      font-size: 30px;
      color: #FFF;
      border: 3px solid #FFF;
      border-radius: 100%;
      opacity: 1;
      &:hover {
        color: @main_color;
      }
    }
  }
  .modal-body {
    h2.title {
      color: @main_color;
      font-size: 31px;
      margin: 0; padding: 0 0 20px;
    }
    .modal-comments {
      border-radius: 5px;
      img.avatar {
        width: 82px;
        height: 82px;border: 7px solid #FFF;
        border-radius: 100%;
        float: left;
        margin-right: 20px;
      }
      .header {
        background-color: #e5f6fc;
        .user-wrap {
          overflow: hidden;
          padding: 15px;
          .user {
            .info {
              float: left;
              margin-top: 10px;
              h3 {
                margin: 0; padding: 0;
                font-size: 21px;
                text-transform: uppercase;
                font-weight: bold;
                color: @main_color;
                padding-bottom: 5px;
              }
            }
          }
          .social-share {
            float: right;
            list-style: none;
            margin-top: 10px;
            li {
              display: inline-block;
              a {
                text-decoration: none;
              }
              i {
                display: block;
                height: 38px;
                width: 38px;
                line-height: 38px;
                text-align: center;
                font-weight: bold;
                color: @main_color;
                border: 2px solid #FFF;
                border-radius: 100%;
                background-color: #FFF;
                &:hover {
                  border-color: @main_color;
                }
              }
            }
          }
        }
      }
      .comment-form {
        padding: 15px;
        overflow: hidden;
        background-color: @main_color;
        display: table;
        width: 100%;
        .avatar {
          display: table-cell;
        }
        form {
          display: table-cell;
          width: 100%;
          vertical-align: middle;
          .input-group {
            position: relative;
            &:before {
              border-color: transparent #fff transparent transparent;
              border-style: solid;
              border-width: 15px;
              content: "";
              height: 0;
              left: -28px;
              position: absolute;
              top: 10px;
              width: 0;
            }
          }
          .form-control {
            height: 55px;
            border: medium none;
            box-shadow: none;
          }
          .btn {
            background-color: #000;
            border: medium none;
            font-size: 21px;
            margin: 0;
            padding: 13px 12px;
            text-transform: uppercase;
          }
        }
      }
      .comments-list {
        margin-top: 20px;
        .comment-item {
          overflow: hidden;
          clear: both;
          width: 100%;
          margin-bottom: 20px;

          .comment-form {
            margin-top: 20px;
            clear: both;
          }

          .avatar {
            border-color: #dbdbdb;
          }
          .comment-detail {
            margin-left: 110px;
            background-color: #e5f6fc;
            padding: 20px;
            position: relative;
            &:before {
              border-color: transparent #e5f6fc transparent transparent;
              border-style: solid;
              border-width: 15px 25px 15px 0;
              content: "";
              height: 0;
              left: -20px;
              position: absolute;
              top: 23px;
              width: 0
            }
            .comment-user {
              margin-bottom: 15px;
              h3 {
                margin: 0;
                padding: 0;
                font-size: 21px;
                color: @main_color;
                text-transform: uppercase;
                padding-bottom: 5px;
                font-weight: bold;
              }
            }
            .comment-time {
              position: absolute;
              top: 20px;
              right: 20px;
              font-size: 12px;
            }
            .comment-content {
              clear: both;
              margin-bottom: 15px;
            }
            .comment-task {
              list-style: none;
              margin: 0;padding: 0;
              li {
                display: inline-block;
                padding: 0 5px;
                a {
                  color: #333;
                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
            .comments-children {
              .comment-item {
                border: 1px solid #ddd;
                padding: 5px;
                background-color: #FFF;
                .comment-detail {
                  padding: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-footer {
    border-top: none;
    .btn {
      width: 100%;
      background-color: #e44848;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

/**
*============================
* Services
*============================
*/
.services-list {
  .service-teaser {
    &:nth-child(3n+1) { clear: left;}
    margin-bottom: 100px;
    .service-inner {
      min-height: 610px;
      background-color: #e5f6fc;
      padding: 35px 0;
      text-align: center;
      img {
        width: 237px;
        height: 232px;
      }
      .title {
        font-size: 42px;
        color: @main_color;
        font-weight: bold;
        padding: 25px 0;
        margin: 0;
      }
      .text {
        text-align: justify;
        font-size: 14px;
        padding: 0 25px;
        min-height: 115px;
        p {
          font-weight: normal;
        }
      }
      .btn-bid {
        margin-top: 15px;
        padding: 8px 30px;
        font-size: 25px;
        text-transform: uppercase;
      }
    }
  }
}

.service-bid-wrap {
  .header {
    text-align: center;
    margin-bottom: 60px;
    .title {
      font-size: 42px;
      font-weight: bold;
      color: @main_color;
    }
  }
}
.form-custom {
  &.form-blue {
    .input-group {
      box-shadow: none;
      border-color: #3dbff3;
      .input-group-addon {
        background: #FFF;
        border-color: #3dbff3;
        color: #3dbff3;
      }
    }
    .form-group {
      .form-control {
        background: #FFF;
        border-color: #3dbff3;
        color: #3dbff3;
        box-shadow: none;
      }
    }
    .btn-action {
      text-align: center;
      .btn {
        box-shadow: none;
        &.btn-info {
          background-color: #FFF;
          border-color: #3dbff3;
          color: #3dbff3;
          padding: 5px 100px;
          text-transform: uppercase;
        }
      }
    }
    .textarea-group {
      position: relative;
      .textarea-icon {
        color: @main_color;
        border-right: 1px solid @main_color;
      }
    }
  }
  .input-group {
    border-radius: 5px;
    box-shadow: 3px 3px 0 #d9d9d9;
    background-color: #d9d9d9;
    .input-group-addon {
      min-width: 55px;
    }
    .form-control {
      height: 45px;
    }
  }
  .textarea-group {
    position: relative;
    .textarea-icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
      text-align: center;
      width: 55px;
      height: 40px;
      line-height: 40px;
      border-right: 1px solid #EEE;
      margin-top: 1px;
    }
    textarea {
      padding-left: 67px;
    }
  }
  .btn-action {
    margin-top: 50px;
    text-align: right;
    .btn {
      box-shadow: 0px 3px 0 #0b1519;
      border-radius: 5px;
      font-size: 30px;
      &.btn-cancel {
        background-color: #d9d9d9;
        border-color: #d9d9d9;
        color: #5a5252;
      }
      &.btn-info {
        background-color: #3dbff3;
        border-color: #3dbff3;
        color: #FFF;
      }
    }

  }
}

.flowers-list {
  .service-teaser {
    margin-bottom: 20px!important;
    .service-inner {
      .title {
        margin: 0 0 15px;
        padding: 0;
      }
    }
  }
  .item-box {
    h3 {
      color: #7f8c91;
      font-size: 18px;
    }
  }
  .price {
    font-size: 42px;
    color: #3c3c3c;
    font-weight: bold;
  }
}
.flower-order {
  .service-inner {
    padding: 15px!important;
    .header {
      text-align: left;
      .title {
        padding: 0; margin: 0;
        font-size: 40px;
      }
      .stock {
        font-size: 18px;
        color: @main_color;
      }
      .price {
        font-size: 30px;
        font-weight: normal;
      }
    }
  }
}
.flower-contact-form  {
  background-color: #e5f6fc;
  label {
    font-weight: lighter;
    text-indent: 100px;
  }
  .memorial-info {
    list-style: none;
    background-color: #3dbff3;
    padding: 20px;
    margin: 20px 0 0;
    width: 100%;
    border-radius: 5px;
    li {
      display: inline-block;
      font-size: 25px;
      padding-right: 40px;
      .title {
        color: #FFF;
        font-weight: lighter;
        margin: 0;padding: 0 0 10px;
      }
      .text {
        color: #FFF;
        font-weight: normal;
      }
    }
  }
}
